
/*
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2f3061 - blue dark
#ffe66d - yellow
#a1c6d7 - blue light
*/

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Libre Franklin', sans-serif;
  line-height: 1.5;
  /* font-size: 16px; */
}
h1, h2, h3, h4, h5, h6  {
  /* font-family: 'Libre Franklin', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  
  font-size: 1.5rem;
}
h1, h2{
  font-family: 'Caveat', cursive;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.8rem;
}
h4{
  font-size: 1.6rem;
}
h5{
  font-size: 1.4rem;
}
h6{
  font-size: 1.2rem;
}
.header{
  width: 100%;
  height: 80px;
  display: block;
  background-color: #101010;
  padding-top: 500;
}

.inner_header{
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_image_container{
  height: 100%;
  display: table;
  float: left;
}
.logo_image{
  height: 100%;
  display: table-cell;
  vertical-align: top;
  
}

.logo_image img{
  width: 60px;
  margin-top: 50;
}

.logo_text{
  height: 100%;
  display: table;
  float: left;
}

.logo_text h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 200;
}

.logo_text h1 span{
  font-weight: 800;
}
.navigation{
  float: right;
  height: 100%;
}
.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}
.navigation a:last-child{
  padding-right: 0;
}
.navigation a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: "Montserrat";
  font-size: 16px;
}

/*HEADER ^^^^^^^^^^^^^*/

/*global styles
---------------------------------------------------------*/
body{
  color: #343434;
}

a{
  color: #ffe66d;
}
a:hover{
  text-decoration: none;
}
.content_wrap{
  width: 1000px;
  margin: 0 auto;
}
/*Buttons
---------------------------------------------------------*/
.quote{
  background-color: blue;
}

a{
  color: #fff;
}

a:hover{
  color: #fff;
}

a.btnQuote{
  /* color: #008cda;
  background-color: #fff;
  border: #008cda; */
  color: #fff;
  background-color: #008cda;
  border: #fff;
  display: inline-block;
  margin: 10px 0;
  
  padding: 8px 20px;
  border-radius: 7px;
  text-decoration: none;
  font-weight: 700;
  font-size: .9em;
  
  border-width: 1px;
  border-style: solid;

}
a.btnQuote:hover{
  /* color: #fff;
  background-color: #008cda;
  border: #fff; */
  color: #008cda;
  background-color: #fff;
  border: #008cda;
  border-width: 1px;
  border-style: solid;
}

button.quote{
  /* color: #008cda;
  background-color: #fff;
  border: #008cda; */
  color: #fff;
  background-color: #008cda;
  border: #fff;
  display: inline-block;
  margin: 10px 0;
  
  padding: 8px 20px;
  border-radius: 7px;
  text-decoration: none;
  font-weight: 700;
  font-size: .9em;
  
  border-width: 1px;
  border-style: solid;

}
button.quote:hover{
  /* color: #fff;
  background-color: #008cda;
  border: #fff; */
  color: #008cda;
  background-color: #fff;
  border: #008cda;
  border-width: 1px;
  border-style: solid;
}

/*Inicio
---------------------------------------------------------*/
.inicio{
  background: #f7fff7;
}
/*Descripcion
---------------------------------------------------------*/
.descripcion{
  background: #a1c6d7;
}
/*Tramite
---------------------------------------------------------*/
.tramite{
  background: #f7fff7;
}
/*Proceso
}---------------------------------------------------*/
.proceso{
  background: #a1c6d7;
}
/*Garantia
}---------------------------------------------------*/
.garantia{
  background: #f7fff7;
}
/*Garantia
}---------------------------------------------------*/
footer{
  background: #343434;
  color: #f7fff7;
}